<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750902035901-t1omhpih8efl8uoj02rk9j6e0aage6cj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750902035901-t1omhpih8efl8uoj02rk9j6e0aage6cj</string>
	<key>API_KEY</key>
	<string>AIzaSyDqMa_oEEKgMQ3BSO5RMuNuFCSGXdwt8Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>750902035901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Marcin-Janiczek.Login-Screen-Firebase</string>
	<key>PROJECT_ID</key>
	<string>login-3ee42</string>
	<key>STORAGE_BUCKET</key>
	<string>login-3ee42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750902035901:ios:b46951645ac944f0477ed4</string>
</dict>
</plist>